.notificaciones{
    position:absolute;
    z-index: 1;
    width: 20%;
    min-width: 200px;
    top: 70px;
    right: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 22, 36);
    padding: 10px;
    border-radius: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
}
.notificacionesOff{
    display: none;
}
.notificaciones ul{
    list-style: none;
}